body{
    margin: 0px;
}

main {
    display: flex;
}


.as1 {
    padding-top: 60px;
   
text-align: center;
height: 100vh;
width: 50%;
background-color: RGB(220,220,220);
}

.as1>div {
margin-top: 150px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.as1>div>h1 {
    font-size: x-large;
}

.as1>div>input {
height: 25px;
width: 250px;
border: solid black 0.5px;
border-radius: 10px;

}

.as2 {
width: 50%;
height: 100vh;
justify-content: center;
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.as2>div {
    margin-top: 230px;
}


.as2>div>button{
    height: 30px;
width: 200px;
border: solid black 0.5px;
border-radius: 10px;
}


